  <!-- <div class="row">
    <div class="col-s-3 col-m-2 col-l-6" [style.background-color]="'red'">
      1
    </div>
    <div class="col-s-6 col-m-4 col-l-1" [style.background-color]="'green'">
      2
    </div>
    <div class="col-s-3 col-m-6 col-l-5" [style.background-color]="'blue'">
      3
    </div>
    <div class="col-s-1 " [style.background-color]="'orange'">
      4
    </div>
    <div class="col-s-3" [style.background-color]="'yellow'">
      5
    </div>
    <div class="col-s-8" [style.background-color]="'grey'">
      6
    </div>
  </div> -->

  <div class="row">
      <div class="col-s-12 header" >
          Header
       </div>
       <div class="col-s-2 navbar" >
            navbar
       </div>
       <div class="col-s-10 body" >
          body
     </div>
     <!-- <div class="col-s-12" [style.background-color]="'green'" [style.height]="'20vh'">
        footer
   </div> -->
  </div>


