.header{
  // background-color: rgba(45,45,45,0.98);
  background-color: rgb(30, 30, 45);
  height: 44px;
}

.navbar{
  background-color: rgb(30, 30, 45);
  height: 100vh;
}

.body{
  height: 80vh;
}

ul{
  list-style: none;
}

li{
  color: #ffffff;
  margin: 50px;
}

.logout{
  color: #ffffff;
  float: right;
  margin: 12px 28px;
}