.main{
    background-color: rgb(30, 30, 45);
    height: 100vh;
    position: relative
  }

  .login-box{
    overflow: auto;
    position: absolute;
    background-color: #FFFFFF;
    color: red;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
  }

  .title{
    text-align: center;
  }

  
  @media only screen and (min-width: 480px) {
    .login-box{
      top: 10vh;
      left: 10vw;
      height: 80vh;
      width: 80vw;
    }
  }  

  @media only screen and (min-width: 641px) {
    .login-box{
      top: 15vh;
      left: 20vw;
      height: 75vh;
      width: 60vw;
    }
  }  

  @media only screen and (min-width: 961px) {
    .login-box{
      top: 15vh;
      left: 20vw;
      height: 75vh;
      width: 60vw;
    }
  }  

  @media only screen and (min-width: 1025px) {
    .login-box{
      top: 15vh;
      left: 25vw;
      height: 75vh;
      width: 50vw;
    }
  }  

  @media only screen and (min-width: 1281px) {
    .login-box{
      top: 15vh;
      left: 30vw;
      height: 75vh;
      width: 40vw;
    }
  }  

a{
  text-decoration: unset;
  color: unset;
}

.mt{
  margin-top: 10%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}