<div class='main '>

  <div class="login-box ">
      <div class="row">

        <div class="offset-s-4 col-s-4 r-offset-s-4">
          <h2 class="title">
              Login
          </h2>
        </div>

        <div class="offset-s-3 col-s-6 r-offset-s-3 mt">
            <input  type="text" placeholder="Username">
        </div>

        <div class="offset-s-3 col-s-6 r-offset-s-3 mt">
            <input type="text" placeholder="Password">
        </div>

        <div class="offset-s-4 col-s-4 r-offset-s-4 mt">
            <button >
                <a [routerLink]="'/dashboard'">
                  Submit
                </a>
              </button>
        </div>
     
  </div>

</div>

