<div class='main '>

  <div class="login-box">
      <div class="row login-box-content">

        <div class="offset-s-4 col-s-4 r-offset-s-4">
          <h2 class="title">
              Login
          </h2>
        </div>

        <div class="offset-s-2 col-s-8 r-offset-s-2 username">
            <label for="uname"><b>Email Address</b></label>
            <input  type="text" placeholder="Username">
        </div>

        <div class="offset-s-2 col-s-8 r-offset-s-2 password">
            <label for="uname"><b>Password</b></label>
            <input type="text" placeholder="Password">
        </div>

        <div class="offset-s-2 col-s-8 r-offset-s-2 ac-program">
            <label for="uname"><b>A/C Program</b></label>
            <input type="text" placeholder="Password">
        </div>

        <div class="offset-s-2 col-s-8 r-offset-s-2 ac-program ">
            <button >
                <a [routerLink]="'/dashboard'">
                  Connenction
                </a>
              </button>
        </div>

        <div class="offset-s-2 col-s-8 r-offset-s-2 disclaimer">
            For a better experience, please ensure you are using Google Chrome browser.
        </div>

  </div>

</div>

